[submodule "terminal_velocity_engine"]
	path = terminal_velocity_engine
	url = https://github.com/TerminalVelocityCabbage/TerminalVelocityEngine.git

[submodule "studio_jar"]
    path = studio_jar
    url = https://github.com/Dumb-Code/Studio-Jar.git
