[submodule "terminal_velocity_engine"]
	path = terminal_velocity_engine
	url = https://github.com/TerminalVelocityCabbage/TerminalVelocityEngine.git
[submodule "Studio-Jar"]
	path = Studio-Jar
	url = https://github.com/Dumb-Code/Studio-Jar.git
